* {
	font-family: 微软雅黑, 宋体, Arial, Verdana, Helvetica, sans-serif;
	font-size: 14px;
	margin: 0px;
	outline: none;
	padding: 0px;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 980px;
}
.blank {
	clear: both;
	float: none;
}
.lefted {
	float: left;
}
.righted {
	float: right;
}
.nav-link {
	border-right: 1px solid #e00;
	color: #fff;
	float: left;
	font-size: 16px;
	height: 45px;
	line-height: 45px;
	padding: 0 16px;
}
.nav-link:hover {
	background-color: #b00;
	text-decoration: none;
}
.nav-link-first {
	border-left: 1px solid #e00;
	padding: 0 20px;
}
.module {
	border: 1px solid #f66;
	margin: 20px 0;
	min-height: 100px;
}
.sub-module {
	margin-bottom: 20px;
}
.sub-module-title {
	background-color: #c00;
	color: #fff;
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	margin: 5px;
	padding-left: 20px;
}
.sub-module .headline {
	margin: 0;
	padding-bottom: 15px;
}
.sub-module .headline a {
	color: #c00;
	display: block;
	float: none;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 15px;
	text-align: center;
}
.sub-module .headline img {
	float: left;
}
.sub-module .headline small {
	color: #000;
	float: right;
	font-size: 13px;
	font-weight: normal;
	line-height: 22px;
	padding: 5px;
	text-align: left;
	width: 220px;
}
.sub-module-content {
	padding: 5px 25px;
}
.sub-module-content a {
	float: left;
	font-size: 16px;
	line-height: 25px;
	margin: 5px 0;
}
.module-title {
	background-color: #c00;
	bottom: 0px;
	float: left;
	text-align: center;
	width: 150px;
}
.module-title a {
	color: #fff;
	font-size: 38px;
}
.module-title a:hover {
	text-decoration: none;
}
.background-triangle {
	float: right;
	color: #c00;
	font-size: 50px;
	margin-right: -15px;
}
.module-content {
	float: right;
	margin-left: 20px;
	padding: 10px 0;
	width: 808px;
}
.content1 {
	float: left;
	width: 8.33333333%;
}
.content2 {
	float: left;
	width: 16.66666667%;
}
.content3 {
	float: left;
	width: 25%;
}
.content4 {
	float: left;
	width: 33.33333333%;
}
.content5 {
	float: left;
	width: 41.66666667%;
}
.content6 {
	float: left;
	width: 50%;
}
.content7 {
	float: left;
	width: 58.33333333%;
}
.content8 {
	float: left;
	width: 66.66666667%;
}
.content9 {
	float: left;
	width: 75%;
}
.content10 {
	float: left;
	width: 83.33333333%;
}
.headline {
	color: #c00;
	display: block;
	font-size: 20px;
	font-weight: bold;
	margin: 10px 20px;
	text-align: center;
}
.content-title {
	clear: left;
	float: left;
	font-size: 16px;
	margin: 5px 10px;
}
.content-title:hover {
	color: #c00;
	text-decoration: none;
}
.content-title small {
	font-size: 0.75em;
}
.friend-item {
	border: 1px solid #f66;
	float: left;
	margin: 3px;
	padding: 3px;
}
.friend-item div {
	background-color: #f66;
	height: 30px;
	line-height: 30px;
	margin-top: -4px;
	padding: 0 5px;
}

#topNav {
	background-color: #f6f6f6;
	border-bottom: 1px solid #ddd;
	height: 30px;
	line-height: 30px;
}
#logo {
	background-image: url(images/mylogo.png);
	height: 67px;
	margin: 16px 0;
	width: 492px;
}
#nav {
	background-color: #c00;
	height: 45px;
	line-height: 45px;
}
#job .module-title {
	height: 384px;
	line-height: 384px;
}
#job .content5 {
	padding: 22px 0;
}
#job .content-title small, #buy .content-title small, #video .content-title small {
	color: #f66;
}
#friend .module-title {
	height: 430px;
	line-height: 430px;
}
#friend .content8 {
	padding: 0 0px;
}
#buy .module-title {
	height: 396px;
	line-height: 396px;
}
#buy .content5 img, #video .content5 img, #game .content5 img {
	border: 1px solid #f66;
	margin: 5px;
	padding: 5px;
}
#video .module-title {
	height: 360px;
	line-height: 360px;
}
#video .content5 img, #game .content5 img {
	border: 0px;
}
#game .module-title {
	height: 380px;
	line-height: 380px;
}
#foot {
	background-color: #f6f6f6;
	border-top: 1px solid #ddd;
	color: #666;
	height: 30px;
	line-height: 30px;
}